fastapi==0.115.6
uvicorn[standard]==0.32.1
python-dotenv==1.0.0
agno>=2.0.0
google-genai
google-search-results
google-serp-api
duckduckgo-search
psycopg[binary]
psycopg2-binary
sqlalchemy
aiohttp>=3.9.0
Brotli>=1.0.9
duckduckgo-search
ddgs
newspaper4k
lxml_html_clean
googlesearch-python
pycountry
python-jose[cryptography]
httpx
pydantic[email]