# LLMs
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash

# DB
DATABASE_URL='postgresql://<username>:<password>@<host>:<port>/<database>'

# Shopping API Credentials
# Rami Levy
RAMI_LEVY_API_KEY=your_rami_levy_api_key_here
RAMI_LEVY_ECOM_TOKEN=your_rami_levy_ecom_token_here
RAMI_LEVY_COOKIE=your_rami_levy_cookie_here
RAMI_LEVY_USER_ID=your_rami_levy_user_id_here

# Shufersal
SHUFERSAL_CSRF_TOKEN=your_shufersal_csrf_token_here
SHUFERSAL_COOKIE=your_shufersal_cookie_here
